<div class="detail-head">
    <h1>Network Detail</h1>
    <div class="action">
        <button class="edit" (click)="toggleEdit()">Edit</button>
        <button class="delete">Delete</button>
    </div>

</div>
<div class="row detail-body">
    <div class="col-4">
        <p>Name of the Company</p>
        <input type="text">
    </div>

    <div class="col-4">
        <p>Contact Person
        </p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Address of the Company</p>
        <textarea type="text"></textarea>
    </div>
    <div class="col-4">
        <p>Email Pricing</p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Email Accounts
        </p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Email Manager
        </p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Email Accounts
        </p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Purchase Date
        </p>
        <input type="text">
    </div>
    <div class="col-4">
        <p>Expiry Date
        </p>
        <input type="text">
    </div>
</div>