.side-menu {
  height: calc(92vh - 65px);
  border-right: 1px solid #efefef;

  p {
    text-align: center;
    padding-top: 2rem;
    color: #1791d8;
    font-weight: bold;
    font-size: 1.5rem;

  }

  ul {
    padding: 0 16px;
    list-style: none;

    li {
      padding: 15px 5px;
      color: #018cd6;
      margin: 2px 0;
      cursor: pointer;
      font-size: 17px;
    }
    .selected{
        color: #f17e3c;
        font-weight: bold;
    }
  }
}
