<div class="row m-0">
    <div class="col-2 p-0">
        <div class="side-menu">
            <p>Home</p>
            <ul>
                <li>
                    <a [routerLink]="['/dashboard/network']" routerLinkActive="selected" href="JavaScript:void(0)">
                        Network
                    </a>
                </li>
                <li><a [routerLink]="['/dashboard/asset']" routerLinkActive="selected"
                        href="JavaScript:void(0)">Asset</a></li>
                <li><a [routerLink]="['/dashboard/query-form']" routerLinkActive="selected"
                        href="JavaScript:void(0)">Query Form</a></li>
                <li><a [routerLink]="['/dashboard/quotation-form']" routerLinkActive="selected"
                        href="JavaScript:void(0)">Quotation Form</a></li>
                <li><a [routerLink]="['/dashboard/sales-quote']" routerLinkActive="selected"
                        href="JavaScript:void(0)">Sales Quote</a></li>
            </ul>
        </div>

    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>

</div>