
<div class="row m-0">
    <div class="col-2 p-0">
        <div class="side-menu">
            <p>Home</p>
            <ul>
                <li [routerLinkActive]="'selected'" (click)="openPage('dashboard/network')">Network</li>
                <li (click)="openPage('dashboard/asset')">Asset</li>
                <li (click)="openPage('dashboard/query-form')">Query Form</li>
                <li (click)="openPage('dashboard/quotation-form')">Quotation Form</li>
                <li (click)="openPage('dashboard/sales-quote')">Sales Quote</li>
            </ul>
        </div>

    </div>
    <div class="col-10">
        <router-outlet></router-outlet>
    </div>

</div>